controller: {{name}}<br/>
selected dir : {{params.dir}}<br/>
<hr>

<img ng-repeat="camimage in camimages" class="slide"
     ng-hide="!isCurrentSlideIndex($index)" ng-src="/images/cam1/{{params.dir}}/{{camimage}}"
     title="{{params.dir}}/{{camimage}}">
<br/>
<a href="#" ng-click="prevSlide()">prev</a>
<a href="#" ng-click="nextSlide()">next</a>
<br/>
<label for="sliderCtrl">Slider</label>
<a href="#" id="sliderCtrl" ng-hide="!isSliderStarted()" ng-click="stopSlider()">stop</a>
<a href="#" ng-hide="isSliderStarted()" ng-click="startSlider()">start</a>
<p>
    <label>Current index:
        <input type="number" name="input" ng-model="currentIndex"
               required>
    </label>
    of {{camimages.length}} images.
</p>
<ul>
    <li ng-repeat="camfile in camfiles  | filter:'.avi' | orderBy:'-'">
        <a href="/images/cam1/{{params.dir}}/{{camfile}}">{{camfile}}</a>
    </li>
</ul>